.main {
    display: flex;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  }
  
  .description {
    max-width: 1200px;
    margin: 0 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .nav {
    display: flex;
    margin: 5rem 0;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    font-size: 36px;
    font-weight: bold;
    color: #f9d342;
    text-decoration: none;
  }
  
  .menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /* buttons */
  .menu li {
    margin: 0 10px;
  }
  
  .menu li a {
    color: white;
    text-decoration: none;
  }
  
  .title {
    font-size: 64px;
    margin: 40px 0 20px;
  }
  
  .subtitle {
    font-size: 24px;
    margin: 0 0 40px;
  }
  
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* .buttons a {
    border: 1px solid #203a43;
  } */
  .buttons a:hover{
    background-color: #203a43;
    color: #fff;
    border: 1px solid #f9d342;
  }
  
  .primary {
    display: inline-block;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    background: #f9d342;
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px;
    border: 1px solid #203a43;
  }
  
  .secondary {
    display: inline-block;
    padding: 15px 25px;
    border: 2px solid #f9d342;
    border-radius: 5px;
    background: transparent;
    color: #f9d342;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .image {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    overflow: hidden;
  }
  